@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background-size: cover;
    background-position: center;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.readable {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

#bottom {
    text-align: center;
    padding-bottom: 10px;
    opacity: 0;
    animation: fadein 2s 1s forwards;
}

#timer {
    opacity: 0;
    animation: fadein 2s 0.5s forwards;
    padding: 5px 20px;
    font-size: calc(16px + 0.75vw);
}

#title {
    max-width: 100%;
    min-width: 256px;
    height: auto;
    animation: fadein 2s;
}
